$maincolor:#AA0601;


body *{
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
}

input[type=checkbox] {
    display: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 67.5%;
    height: 100%;
    margin: 0 auto;
    padding: 0 12px;
    @include pad {
        width: 91%;
    }
}

.block {
    padding: 80px 0;

    @include iphone {
        padding: 40px 0;
    }
}



// 主標
h1 {
    font-size: 64px;
    line-height: 96px;
    color: #650300;
    font-weight: bold;
    margin-bottom: 4px;

    @include iphone {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 8px;
    }
}

// 副標
h2 {
    font-size: 36px;
    line-height: 54px;
    color: #650300;

    @include iphone {
        font-size: 16px;
        line-height: 24px;
    }
}

// 首頁各區塊主標
h3 {
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 48px;
    color: #650300;
    font-weight: bold;
    text-align: center;
    

    @include iphone {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 32px;
    }
}


.productList {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.DDLdiv {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @include iphone {
        margin-bottom: 24px;
    }
}

.DDLtitle {
    font-size: 24px;
    line-height: 36px;
    margin-right: 16px;
    white-space: nowrap;

    @include iphone {
        font-size: 16px;
        line-height: 24px;
        margin-right: 8px;
    }
}

.DDL {
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: url('../images/SelcArrow.png') #fff 95% center no-repeat;
    background-size: 24px 24px;
    box-sizing: border-box;
    height: 38px;
    width: 304px;
    border: 1px solid #CED4DA;
    color: #495057;
    font-size: 18px;
    line-height: 26px;
    padding: 0 12px;
}