$headerheight: 80px;

.header {
    background: $maincolor;
    height: $headerheight;

    .container {
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
}

.linkToHome {
    width: $headerheight;

    .headerLogo {
        width: 100%;
    }
}

.menuBTDiv {
    display: flex;
    align-items: center;

    @include iphone {
        display: none;
    }
}

.menuBT {
    font-size: 20px;
    line-height: 30px;
    margin-left: 64px;
    cursor: pointer;
    position: relative;
    color: #fff;

    @include iphone {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: calc(100%/4);
        color: $maincolor;
        border-top: 1px solid $maincolor;
        margin-left: 0;
    }
}


.menuBT::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
}

.menuBT:hover:after {
    transform: scale(1);
}


.menu-open-button {
    display: none;
    flex-direction: column;
    line-height: 80px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
    cursor: pointer;

    @include iphone {
        display: inline-flex;
    }

    .hamburger {
        display: inline-block;
        width: 25px;
        height: 3px;
        background: white;
        transition: transform 200ms;
        transform-origin: 8px 2px;
    }

    .hamburger-1 {
        transform: translate3d(0, -5px, 0);
    }

    .hamburger-2 {
        transform: translate3d(0, 0, 0);
    }

    .hamburger-3 {
        transform: translate3d(0, 5px, 0);
    }
}

.menu-open:checked~.menu-open-button {
    .hamburger-1 {
        transform: translate3d(0, 0, 0) rotate(45deg);
    }

    .hamburger-2 {
        transform: translate3d(0, 0, 0) scale(0, 0);
    }

    .hamburger-3 {
        transform: translate3d(0, 0, 0) rotate(-45deg);
    }
}


.menu-open:checked~.menuBTDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: $headerheight;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.95);
    z-index: 10;
}