.ProductMenuDiv {
    .container {
        @include pad {
            width: 100%;
        }
    }

    li {
        width: calc(100%/3);

        .ProductMenuLink {
            display: flex;
            justify-content: center;
            font-size: 32px;
            line-height: 48px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            border: 1px solid #DCDCDC;
            height: 96px;

            @include pad {
                font-size: 24px;
                line-height: 36px;
                height: 68px;
            }

            @include iphone {
                font-size: 16px;
                line-height: 56px;
                height: 56px;
            }
        }

        .ProductMenuLink.active {

            border-bottom: 8px solid $maincolor;
        }
    }
}

.ProductHeader {
    display: flex;

    span {
        width: 50%;
        height: 296px;

        @include iphone {
            height: 136px;
        }
    }

    .ProductHeaderImg1 {
        background: transparent url('../images/product-header-1.png') 0% 0% no-repeat padding-box;
        background-size: cover;

        @include pad {
            background: transparent url('../images/product-header-sm-1.png') 0% 0% no-repeat padding-box;
            background-size: cover;
        }
    }

    .ProductHeaderImg2 {
        background: transparent url('../images/product-header-2.png') 0% 0% no-repeat padding-box;
        background-size: cover;

        @include pad {
            background: transparent url('../images/product-header-sm-2.png') 0% 0% no-repeat padding-box;
            background-size: cover;
        }
    }

    .ProductHeaderImg3 {
        background: transparent url('../images/product-header-3.png') 0% 0% no-repeat padding-box;
        background-size: cover;

        @include pad {
            background: transparent url('../images/product-header-sm-3.png') 0% 0% no-repeat padding-box;
            background-size: cover;
        }
    }

    .ProductHeaderImg4 {
        background: transparent url('../images/product-header-4.png') 0% 0% no-repeat padding-box;
        background-size: cover;

        @include pad {
            background: transparent url('../images/product-header-sm-4.png') 0% 0% no-repeat padding-box;
            background-size: cover;
        }
    }
}


.PdTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
    text-align: center;

    @include iphone {
        font-size: 24px;
        line-height: 36px;
    }
}

.PdSubTitle {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 32px;

    @include iphone {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px;
    }
}

.PdInfoDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    line-height: 36px;

    .PdNumber {
        font-family: 'Roboto', sans-serif;
    }

    .PdPrice {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: $maincolor;
    }
}

.PdColorDiv {
    display: flex;
    align-items: center;
    ;
    justify-content: flex-start;
}


.PdColor1,
.PdColor2 {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 8px;
}

.PdColor1 {
    background: #5F3E2D;
}

.PdColor2 {
    background: #B75929;
}



.PageIndexList {
    display: flex;
    align-items: center;
    justify-content: center;

    @include pad {
        margin-top: 40px;
    }

    @include pad {
        margin-bottom: 24px;
    }


    li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        line-height: 27px;
        height: 48px;
        width: 42px;
        border: 1px solid #555555;
        cursor: pointer;
    }

    li:first-child,
    li:last-child {
        font-size: 19px;
        line-height: 29px;
        width: 81px;
    }

    li:nth-child(3) {
        background: #000000;
        color: #fff;
    }

    li:last-child {
        background: #F2F2F2;
    }
}


.Optical {
    .productList {
        li {
            width: calc(25% - 18px);
            margin-bottom: 80px;

            @include pad {
                width: calc(50% - 12px);
                margin-bottom: 40px;
            }

            @include iphone {
                width: 100%;
                margin-bottom: 24px;
            }
        }
    }
}

.SUNGLASSES {
    .productList {
        li {
            width: calc(33% - 16px);
            margin-bottom: 80px;

            @include pad {
                width: calc(50% - 12px);
                margin-bottom: 40px;
            }
    
            @include iphone {
                width: 100%;
                margin-bottom: 24px;
            }
        }

        
    }
}