/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,500;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body * {
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=checkbox] {
  display: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 67.5%;
  height: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 91%;
  }
}

.block {
  padding: 80px 0;
}

@media screen and (max-width: 568px) {
  .block {
    padding: 40px 0;
  }
}

h1 {
  font-size: 64px;
  line-height: 96px;
  color: #650300;
  font-weight: bold;
  margin-bottom: 4px;
}

@media screen and (max-width: 568px) {
  h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
  }
}

h2 {
  font-size: 36px;
  line-height: 54px;
  color: #650300;
}

@media screen and (max-width: 568px) {
  h2 {
    font-size: 16px;
    line-height: 24px;
  }
}

h3 {
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 48px;
  color: #650300;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 568px) {
  h3 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;
  }
}

.productList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.DDLdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 568px) {
  .DDLdiv {
    margin-bottom: 24px;
  }
}

.DDLtitle {
  font-size: 24px;
  line-height: 36px;
  margin-right: 16px;
  white-space: nowrap;
}

@media screen and (max-width: 568px) {
  .DDLtitle {
    font-size: 16px;
    line-height: 24px;
    margin-right: 8px;
  }
}

.DDL {
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: url("../images/SelcArrow.png") #fff 95% center no-repeat;
  background-size: 24px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 38px;
  width: 304px;
  border: 1px solid #CED4DA;
  color: #495057;
  font-size: 18px;
  line-height: 26px;
  padding: 0 12px;
}

.header {
  background: #AA0601;
  height: 80px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.linkToHome {
  width: 80px;
}

.linkToHome .headerLogo {
  width: 100%;
}

.menuBTDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 568px) {
  .menuBTDiv {
    display: none;
  }
}

.menuBT {
  font-size: 20px;
  line-height: 30px;
  margin-left: 64px;
  cursor: pointer;
  position: relative;
  color: #fff;
}

@media screen and (max-width: 568px) {
  .menuBT {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: calc(100%/4);
    color: #AA0601;
    border-top: 1px solid #AA0601;
    margin-left: 0;
  }
}

.menuBT::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menuBT:hover:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.menu-open-button {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  -o-transition: transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  .menu-open-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.menu-open-button .hamburger {
  display: inline-block;
  width: 25px;
  height: 3px;
  background: white;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  -o-transition: transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  -webkit-transform-origin: 8px 2px;
      -ms-transform-origin: 8px 2px;
          transform-origin: 8px 2px;
}

.menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, -5px, 0);
          transform: translate3d(0, -5px, 0);
}

.menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 5px, 0);
          transform: translate3d(0, 5px, 0);
}

.menu-open:checked ~ .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked ~ .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0, 0);
          transform: translate3d(0, 0, 0) scale(0, 0);
}

.menu-open:checked ~ .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu-open:checked ~ .menuBTDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 80px;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 10;
}

.footer {
  background: #AA0601;
  color: #fff;
  padding: 48px 0 32px 0;
}

@media screen and (max-width: 568px) {
  .footer {
    padding: 24px 0 32px 0;
  }
}

.footerLinkDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: f;
      -ms-flex-align: f;
          align-items: f;
}

.PageLinkDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-bottom: 36px;
}

@media screen and (max-width: 568px) {
  .PageLinkDiv {
    display: none;
  }
}

.PageLink {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-right: 48px;
}

.PageLink:last-child {
  margin-right: 0;
}

.AppLink {
  margin-left: 32px;
}

@media screen and (max-width: 767px) {
  .AppLink {
    margin-left: 16px;
  }
}

@media screen and (max-width: 568px) {
  .AppLink {
    margin-left: 8px;
  }
}

.AppLink img {
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 767px) {
  .AppLink img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 568px) {
  .AppLink img {
    width: 24px;
    height: 24px;
  }
}

.AppLink:first-child {
  margin-left: 0;
}

.footerContact {
  margin-bottom: 32px;
}

@media screen and (max-width: 568px) {
  .footerContact {
    margin-bottom: 24px;
  }
}

.footerContactItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.footerContactItem img {
  margin-right: 16px;
}

@media screen and (max-width: 568px) {
  .footerContactItem img {
    width: 20px;
  }
}

.footerContactItem span {
  font-size: 36px;
  line-height: 54px;
}

@media screen and (max-width: 568px) {
  .footerContactItem span {
    font-size: 16px;
    line-height: 24px;
  }
}

.footer hr {
  margin-bottom: 32px;
}

@media screen and (max-width: 568px) {
  .footer hr {
    margin-bottom: 16px;
  }
}

.CopyRightDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 568px) {
  .CopyRightDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.CopyRightDiv .CopyRight {
  font-size: 16px;
  line-height: 24px;
}

.CopyRightDiv .terms {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  margin-left: 48px;
}

@media screen and (max-width: 568px) {
  .CopyRightDiv .terms {
    font-size: 16px;
    line-height: 24px;
    display: block;
    margin-top: 8px;
    margin-left: 0;
  }
}

.Section1 {
  background: transparent url("../images/home-header.png") 0% 0% no-repeat padding-box;
  background-size: cover;
  height: 787px;
}

@media screen and (max-width: 767px) {
  .Section1 {
    background: transparent url("../images/home-header-sm.png") 0% 0% no-repeat padding-box;
    background-size: cover;
  }
}

.Section1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buyNow {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  background: #AA0601;
  padding: 6px 12px;
}

.Section2 {
  background: #FBF2F2;
}

.Section2 li {
  width: calc(25% - 18px);
}

@media screen and (max-width: 767px) {
  .Section2 li {
    width: calc(50% - 12px);
  }
}

@media screen and (max-width: 568px) {
  .Section2 li {
    width: 100%;
  }
}

.Section2 li img {
  width: 100px;
  margin-bottom: 16px;
}

.Section2 li .Section2Title {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.Section2 li p {
  text-align: left;
}

.Section3 {
  background: #FFF;
}

@media screen and (max-width: 767px) {
  .Section3 .productList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.Section3 li {
  width: calc(33% - 16px);
}

@media screen and (max-width: 767px) {
  .Section3 li {
    width: 50%;
  }
}

@media screen and (max-width: 568px) {
  .Section3 li {
    width: 100%;
  }
}

.Section3 li img {
  width: 100%;
  margin-bottom: 8px;
}

.Section3 li h3 {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: #AA0601;
}

@media screen and (max-width: 568px) {
  .Section3 li h3 {
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 24px;
  }
}

.Section4 {
  background: transparent url("../images/index-bg.png") 0% 0% no-repeat padding-box;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .Section4 {
    background: transparent url("../images/index-bg-md.png") 0% 0% no-repeat padding-box;
    background-size: cover;
  }
}

@media screen and (max-width: 568px) {
  .Section4 {
    background: transparent url("../images/index-bg-sm.png") 0% 0% no-repeat padding-box;
    background-size: cover;
  }
}

.Section4 h3 {
  color: #fff;
}

.Section4 li {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .Section4 li {
    width: 100%;
  }
  .Section4 li:first-child {
    margin-bottom: 24px;
  }
}

.Section4 li .Section4Img1 {
  background: transparent url("../images/home-section4-1.png") 0% 0% no-repeat padding-box;
  background-size: cover;
  height: 240px;
}

@media screen and (max-width: 568px) {
  .Section4 li .Section4Img1 {
    background: transparent url("../images/home-section4-1-sm.png") 0% 0% no-repeat padding-box;
    background-size: cover;
  }
}

.Section4 li .Section4Img2 {
  background: transparent url("../images/home-section4-2.png") 0% 0% no-repeat padding-box;
  background-size: cover;
  height: 240px;
}

@media screen and (max-width: 568px) {
  .Section4 li .Section4Img2 {
    background: transparent url("../images/home-section4-2-sm.png") 0% 0% no-repeat padding-box;
    background-size: cover;
  }
}

.Section4 li h3 {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  color: #AA0601;
  font-style: italic;
  height: 88px;
  line-height: 88px;
  margin-bottom: 0;
}

@media screen and (max-width: 568px) {
  .Section4 li h3 {
    font-size: 48px;
    line-height: 88px;
  }
}

.Section5 li {
  width: calc(25% - 18px);
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .Section5 li {
    width: calc(50% - 12px);
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 568px) {
  .Section5 li {
    width: 100%;
  }
}

.Section5 li img {
  width: 100%;
}

.Section5 li div {
  padding: 16px;
  text-align: left;
}

.RecomName {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.RecomIntro {
  height: 120px;
}

.RecomDate {
  font-size: 14px;
  line-height: 21px;
  color: #707070;
}

.Section6 {
  background: #FBF2F2;
}

.Section6 .container {
  max-width: 636px;
}

.Section6 .container .ContactIntro {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .Section6 .container .ContactIntro {
    font-size: 16px;
    line-height: 24px;
  }
}

.Section6 .container .ContactTitle {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.Section6 .container input[type=text] {
  background: none;
  margin-bottom: 16px;
  width: 100%;
  height: 33px;
  padding: 6px 12px;
  border: 1px solid #000;
}

.Section6 .container textarea {
  background: none;
  margin-bottom: 16px;
  width: 100%;
  height: 136px;
  padding: 6px 12px;
  resize: none;
  border: 1px solid #000;
}

.AgreePolicyBT {
  display: block;
  width: calc(100% - 34px);
  font-size: 16px;
  line-height: 24px;
  position: relative;
  left: 34px;
  cursor: pointer;
}

.AgreePolicyBT::before {
  content: "";
  position: absolute;
  left: -28px;
  top: 1px;
  width: 16px;
  height: 16px;
  border: 3px solid #000;
  border-radius: 4px;
}

.AgreePolicyBT::after {
  content: "";
  position: absolute;
  left: -21px;
  top: 4px;
  width: 5px;
  height: 10px;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  -webkit-transform: scale(0) rotate(45deg);
      -ms-transform: scale(0) rotate(45deg);
          transform: scale(0) rotate(45deg);
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  -o-transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

#AgreePolicy:checked + .AgreePolicyBT::after {
  -webkit-transform: scale(1) rotate(45deg);
      -ms-transform: scale(1) rotate(45deg);
          transform: scale(1) rotate(45deg);
}

.ContactSubmit {
  display: block;
  width: 100%;
  max-width: 416px;
  height: 56px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
  border: none;
  background: #AA0601;
  cursor: pointer;
  margin: 48px auto 0 auto;
}

.ContactSubmit:hover {
  background: #7f0501;
}

.ContactSubmit:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}

@media screen and (max-width: 767px) {
  .ProductMenuDiv .container {
    width: 100%;
  }
}

.ProductMenuDiv li {
  width: calc(100%/3);
}

.ProductMenuDiv li .ProductMenuLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  line-height: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border: 1px solid #DCDCDC;
  height: 96px;
}

@media screen and (max-width: 767px) {
  .ProductMenuDiv li .ProductMenuLink {
    font-size: 24px;
    line-height: 36px;
    height: 68px;
  }
}

@media screen and (max-width: 568px) {
  .ProductMenuDiv li .ProductMenuLink {
    font-size: 16px;
    line-height: 56px;
    height: 56px;
  }
}

.ProductMenuDiv li .ProductMenuLink.active {
  border-bottom: 8px solid #AA0601;
}

.ProductHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ProductHeader span {
  width: 50%;
  height: 296px;
}

@media screen and (max-width: 568px) {
  .ProductHeader span {
    height: 136px;
  }
}

.ProductHeader .ProductHeaderImg1 {
  background: transparent url("../images/product-header-1.png") 0% 0% no-repeat padding-box;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .ProductHeader .ProductHeaderImg1 {
    background: transparent url("../images/product-header-sm-1.png") 0% 0% no-repeat padding-box;
    background-size: cover;
  }
}

.ProductHeader .ProductHeaderImg2 {
  background: transparent url("../images/product-header-2.png") 0% 0% no-repeat padding-box;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .ProductHeader .ProductHeaderImg2 {
    background: transparent url("../images/product-header-sm-2.png") 0% 0% no-repeat padding-box;
    background-size: cover;
  }
}

.ProductHeader .ProductHeaderImg3 {
  background: transparent url("../images/product-header-3.png") 0% 0% no-repeat padding-box;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .ProductHeader .ProductHeaderImg3 {
    background: transparent url("../images/product-header-sm-3.png") 0% 0% no-repeat padding-box;
    background-size: cover;
  }
}

.ProductHeader .ProductHeaderImg4 {
  background: transparent url("../images/product-header-4.png") 0% 0% no-repeat padding-box;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .ProductHeader .ProductHeaderImg4 {
    background: transparent url("../images/product-header-sm-4.png") 0% 0% no-repeat padding-box;
    background-size: cover;
  }
}

.PdTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 63px;
  text-align: center;
}

@media screen and (max-width: 568px) {
  .PdTitle {
    font-size: 24px;
    line-height: 36px;
  }
}

.PdSubTitle {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 32px;
}

@media screen and (max-width: 568px) {
  .PdSubTitle {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
  }
}

.PdInfoDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  line-height: 36px;
}

.PdInfoDiv .PdNumber {
  font-family: 'Roboto', sans-serif;
}

.PdInfoDiv .PdPrice {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #AA0601;
}

.PdColorDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.PdColor1,
.PdColor2 {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-right: 8px;
}

.PdColor1 {
  background: #5F3E2D;
}

.PdColor2 {
  background: #B75929;
}

.PageIndexList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .PageIndexList {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .PageIndexList {
    margin-bottom: 24px;
  }
}

.PageIndexList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 27px;
  height: 48px;
  width: 42px;
  border: 1px solid #555555;
  cursor: pointer;
}

.PageIndexList li:first-child,
.PageIndexList li:last-child {
  font-size: 19px;
  line-height: 29px;
  width: 81px;
}

.PageIndexList li:nth-child(3) {
  background: #000000;
  color: #fff;
}

.PageIndexList li:last-child {
  background: #F2F2F2;
}

.Optical .productList li {
  width: calc(25% - 18px);
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .Optical .productList li {
    width: calc(50% - 12px);
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 568px) {
  .Optical .productList li {
    width: 100%;
    margin-bottom: 24px;
  }
}

.SUNGLASSES .productList li {
  width: calc(33% - 16px);
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .SUNGLASSES .productList li {
    width: calc(50% - 12px);
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 568px) {
  .SUNGLASSES .productList li {
    width: 100%;
    margin-bottom: 24px;
  }
}

.StoreTitle {
  font-weight: bold;
  font-size: 42px;
  line-height: 63px;
  border-left: 8px solid #9F1213;
  padding-left: 12px;
  margin-bottom: 32px;
  margin-top: 96px;
}

@media screen and (max-width: 767px) {
  .StoreTitle {
    margin-top: 80px;
    font-size: 48px;
    line-height: 72px;
  }
}

@media screen and (max-width: 568px) {
  .StoreTitle {
    margin-top: 40px;
    font-size: 24px;
    line-height: 36px;
  }
}

.StoreInfoTitle {
  font-size: 24px;
  line-height: 36px;
  color: #212529;
  height: 52px;
  padding: 8px 24px;
  border: 1px solid #00000020;
}

.StoreInfoList {
  padding: 16px 24px 8px 24px;
  border: 1px solid #00000020;
}

.StoreInfoList li {
  margin-bottom: 8px;
}

.StoreInfoList li img {
  margin-right: 8px;
}

.StoreInfoList li span {
  font-size: 20px;
  line-height: 30px;
  position: relative;
  margin-left: 30px;
  display: block;
}

.StoreInfoList li span:before {
  position: absolute;
  left: -30px;
  top: 2px;
}

.StoreInfoPhone::before {
  content: url(../images/store-info-1.png);
}

.StoreInfoTime::before {
  content: url(../images/store-info-2.png);
}

.StoreInfoAddr::before {
  content: url(../images/store-info-3.png);
}

.StoreInfoLink {
  color: #fff;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 19px;
  line-height: 27px;
  height: 59px;
}

.Store .productList {
  text-align: left;
}

.Store .productList > li {
  width: calc(33% - 16px);
  margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
  .Store .productList > li {
    width: calc(50% - 12px);
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 568px) {
  .Store .productList > li {
    width: 100%;
  }
}

/*# sourceMappingURL=all.css.map */
